*{
	box-sizing:border-box;
}
@font-face {
font-family: iransans;
			src: url('../fonts/ali.eot?#iefix') format('embedded-opentype'),
			url('../fonts/ali.woff') format('woff'),
			url('../fonts/ali.woff2') format('woff2'),
			url('../fonts/ali.ttf') format('truetype')
}
a{
	text-decoration:none;
}
.float {
    width: 100%;
    float: right;
}


button{
	
	font-family:iransans;
	
}
body{
	margin:0px;
	padding:0px;
	direction:rtl;
	font-family:iransans;
}


.container{
	width: 100%;
	display: block;
	margin: 0px auto;
	
	
}

header{
    width: 100%;
	float: right;
}

.right {
	width: 130px;
	height: 50px;
	background: #FFC107;
	float: right;
}

.center{
	width: calc(100% - 330px);
	height: 50px;
	float: right;
	background: #ffffff;
	display: inline-block;
}

.left{
	
	width: 200px;
	height: 50px;
	background:#FFC107;
	float: left;
}

.center ul li{
	display: inline-block;
	margin-top: -15px;
    padding: 20px;
}
.calcpanel {
    background: #ffc10700;
    border: 0px;
    color: #fff;
    font-size: 28px;
    margin-top: 1px;
    margin-right: 30px;
}
slider{
	display: block;
}

.slider{
    float: right;
    width: 100%;
    position: relative;
    height: 420px;
    overflow: hidden;

}
.slider img{ 
	width: 100%;
}

.right img {
    height: 40px;
    margin-top: 5px;
    margin-right: 40px;
}
.blackboard{
	background-color: #00000059;
	width: 100%;
	height: 100%;
	position: absolute;
	top : 0px;
	right: 0px;
}

.boxholder {
    position: absolute;
    top: 10px;
    width: 42%;
    right: 30%;
    text-align: center;
    color: #fff;
    font-size: 29px;
    padding-top: 48px;
}


.boxholder img {
	width: 65px;
}

.boxholder button {
    background: initial;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 17px;
    font-size: 15px;
}
.mypic {
    float: right;
    width: 100%;
    padding: 1px 8%;
    margin-top: -50px;
    z-index: 3;
    position: relative;
}

.mypic img {
    width: 24%;
    display: inline-block;
}


.panel {
    float: right;
    width: 100%; 
	margin-top:60px;
}
.rightpanel , .leftpanel {
    float: right;
    width: 50%;
	padding : 10%;
}
.text {
    text-align: justify;
    font-size: 14px;
    color: #313131;
}
.myhr {
    float: right;
    width: 70%;
    border-bottom: 1px solid #d8a200;
    margin-bottom: 12px;
    margin-top: -10px;
}
.leftpanel .text {
    float: right;
    width: 100%;
}

.calc {
    float: right;
    border: 1px solid #d8a200;
    padding: 13px;
    font-size: 23;
    font-weight: 900;
    cursor: pointer;
}
img.leftarrow {
    width: 25px;
    position: relative;
    top: 8px;
    right: 3px;
}
.rightpanel img {
    width: 500px;
    margin: 88px auto;
    margin-right: 20px;
	display: block;
}

.contact {
    float: right;
    width: 100%;
    background-color: #ffc107;
    text-align: center;
	    padding: 20px 0px;
}

.suboontact {
    width: 100%;
    padding: 0px 10%;
}

form.contactform {
    display: inline-block;
}

.contactform input {
    font-family: iransans;
    background-color: #dcdcdc;
    border: 0px;
    padding: 3px 10px;
}
.contactform button {
    background-color: #10014e;
    border: 0px;
    color: #fff;
    padding: 3px 14px;
}
.subcontact span {
    color: #fff;
    font-size: 19px;
	margin-left: 18px;
}
.article {
    padding: 70px 15%;
}
.subarticle {
    width: 33%;
    display: inline-block;
}
.subarticle img {
    width: 95%;
    display: block;
    margin: 0px auto;
}
.textarticle {
    width: 73%;
    display: block;
    margin: 0px auto;
    margin-top: -50px;
    background-color: #fff;
    position: relative;
    z-index: 4;
    border-radius: 8px;
    padding: 1px 20px;
    box-shadow: 2px 2px 4px #0000009e;
}
.textarticle h5 {
    margin-bottom: -2px;
}

.articlehr {
    width: 50px;
    border-bottom: 2px solid #d8a200;
    margin-bottom: 11px;
    margin-top: 16px;
}

.textarticle a {
    color: #ffc107;
}